.place__container {
  /* display: grid;
  grid-template-columns: 484px;
  grid-template-rows: repeat(2, minmax(145px, 203px));
  align-self: flex-start;
  column-gap: 26px;
} */
  width: 100%;
  height: 100%;
}


