.place__paragraph {
  max-width: 484px;
  /*max-height: 145px;*/
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0 0 26px;
}

.place__paragraph:last-of-type {
  max-height: 203px;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    max-width: 456px;
  }

  .place__paragraph:last-of-type {
    max-height: 293px;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    max-width: 352px;
    max-height: 182px;
    font-size: 16px;
  }

  .place__paragraph:last-of-type {
    max-height: 234px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 288px;
    max-height: 468px;
    font-size: 16px;
    margin: 0 5% 25px 5%;
  }

  .place__paragraph:last-of-type {
    max-height: 312px;
    margin: 0 5% 0;
  }
}
