.cover {
  width: 100%;
  margin: 7px 0 93px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .cover {
    margin: 15px 0 91px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin-bottom: 85px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 7px 0 67px;
  }
}

