.place {
  display: grid;
  grid-template-columns: 481px 484px;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-areas:
  "title url"
  "image paragraph";
  max-width: 984px;
  gap: 48px 16px;
  margin-bottom: 80px;
}

.place:nth-child(5n) {
  margin-bottom: 34px;
}


@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 456px;
    column-gap: 30px;
  }

  .place:nth-child(5n) {
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 352px;
    margin-bottom: 72px;
  }

  .place:first-child {
    row-gap: 90px;
  }

  .place:nth-child(5n) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .place {
    max-width: 320px;
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
  "title" "url"
  "image" "paragraph";
    gap: 32px;
  }

  .place:first-child {
    row-gap: 31px;
    margin-bottom: 74px;
  }

  .place:nth-child(2n) {
    margin-bottom: 51px;
  }

  .place:nth-child(3n) {
    margin-bottom: 47px;
  }

  .place:nth-child(4n) {
    margin-bottom: 75px;
  }

  .place:nth-child(5n) {
    margin-bottom: 0;
  }
}
