.footer {
  display: flex;
  max-width: 1184px;
  width: 100%;
  margin: 0 0 24px;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    margin: 0 0 24px 5%;
    max-width: 186px;
    align-self: flex-start;
  }
}
